<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wcfb.mapper.FansMapper">

    <select id="selectFollowsByAuthor" resultType="wcfb.model.vo.MessageFollowVo"
            parameterType="java.lang.String">
        select ud.head, ud.name as user, ud.account, f.create_time as time
        from fans as f left join userdata as ud
        on f.fans_id = ud.account
        where f.author_id = #{author}
        order by f.create_time
    </select>
</mapper>