<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wcfb.mapper.UserdataMapper">

    <sql id="all">
        id, account, name, sex, head, follow_num, fans, article_num, word, liked,comment
    </sql>

    <sql id="noId">
        account, name, sex, head, follow_num, fans, article_num, word, liked, comment
    </sql>

    <insert id="insert" parameterType="wcfb.model.po.UserdataPo">
        insert into userdata
        (<include refid="noId"/>)
        values
        (#{account}, #{name}, #{sex}, #{head}, #{followNum}, #{fans}, #{articleNum}, #{word}, #{liked},#{comment})
    </insert>

    <select id="selectByAccount" resultType="wcfb.model.po.UserdataPo">
        select <include refid="all"/>
        from userdata
        where account = #{account}
    </select>
</mapper>