#title{
    float: left;
    width: 260px;
    margin: 0px;
    padding: 0px;
    color: #66b1ff;
    font-size: 50px;
}
#app{
    min-width: 969px;
}
.el-input{
    margin-left: 50px;
    margin-top: 23px;
    margin-bottom: 0px;
    width: 200px;
}
.el-avatar{
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}
.el-button{
    margin-top: 23px;
    margin-right: 30px;
    float: right;
}
#content{
    width: 100%;
    height: auto;
}